In [12]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Import the requests library.
import requests

# Import the datetime module from the datetime library.
from datetime import datetime

#Import random module 
import random

#import the time module.
import time

# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy
# Import the API key.
from config import weather_api_key

In [13]:
# Create a set of random latitudes and longitudes combinations. 
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats,lngs)
lat_lngs

In [14]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [15]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    
    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

634

In [16]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=9db81e573cb2ea5274be8d5a55888a45

In [6]:
# Create an empty list to hold the weather data. 
city_data = []
#Print the begining of the logging. 
print("Begining Data Retrieval  ")
print("-------------------------")

#Create counters at 1 because we want both to start at 1 
record_count = 1
set_count = 1

# Loop through all the cities in our list.
for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + "i"

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        
        try:
            city_rain = city_weather["rain"]["1h"] 
        except:
            city_rain = 0
        pass
        
        try:
            city_snow = city_weather["snow"]["1h"]
        except:
            city_snow = 0
        pass

        city_description = city_weather["weather"][0]["description"]

        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Rain(inches)": city_rain,
                          "Snow(inches)": city_snow,
                          "Current Description": city_description})

    # If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

of Set 16 | pacific grove
Processing Record 41 of Set 16 | yakeshi
Processing Record 42 of Set 16 | ruatoria
City not found. Skipping...
Processing Record 43 of Set 16 | grand-lahou
Processing Record 44 of Set 16 | tambun
Processing Record 45 of Set 16 | saleaula
City not found. Skipping...
Processing Record 46 of Set 16 | kashiwazaki
Processing Record 47 of Set 16 | sabang
Processing Record 48 of Set 16 | karratha
Processing Record 49 of Set 16 | vrangel
Processing Record 50 of Set 16 | manjeshwar
Processing Record 1 of Set 17 | bay roberts
Processing Record 2 of Set 17 | san clemente
Processing Record 3 of Set 17 | ahipara
Processing Record 4 of Set 17 | florence
Processing Record 5 of Set 17 | caravelas
Processing Record 6 of Set 17 | bairiki
Processing Record 7 of Set 17 | halalo
City not found. Skipping...
Processing Record 8 of Set 17 | broken hill
Processing Record 9 of Set 17 | ust-kamchatsk
City not found. Skipping...
Processing Record 10 of Set 17 | chuy
Processing Record 11 of Set 17 | jasper
Processing Record 12 of Set 17 | tautira
Processing Record 13 of Set 17 | toliary
City not found. Skipping...
Processing Record 14 of Set 17 | lorengau
Processing Record 15 of Set 17 | olafsvik
Processing Record 16 of Set 17 | meulaboh
Processing Record 17 of Set 17 | shirokiy
Processing Record 18 of Set 17 | new norfolk
Processing Record 19 of Set 17 | leningradskiy
Processing Record 20 of Set 17 | east london
Processing Record 21 of Set 17 | buckeye
Processing Record 22 of Set 17 | clyde river
Processing Record 23 of Set 17 | hasaki
Processing Record 24 of Set 17 | puerto rico
Processing Record 25 of Set 17 | coolum beach
Processing Record 26 of Set 17 | port augusta
Processing Record 27 of Set 17 | mangla
Processing Record 28 of Set 17 | katobu
Processing Record 29 of Set 17 | faya
Processing Record 30 of Set 17 | pochutla
Processing Record 31 of Set 17 | souillac
Processing Record 32 of Set 17 | garowe
Processing Record 33 of Set 17 | aklavik
Processing Record 34 of Set 17 | zakamensk
Processing Record 35 of Set 17 | ternate
Processing Record 36 of Set 17 | lebu
Processing Record 37 of Set 17 | bontang
Processing Record 38 of Set 17 | finschhafen
Processing Record 39 of Set 17 | ust-maya
Processing Record 40 of Set 17 | constitucion
Processing Record 41 of Set 17 | mount holly
Processing Record 42 of Set 17 | whyalla
Processing Record 43 of Set 17 | caramay
Processing Record 44 of Set 17 | melekhovskaya
City not found. Skipping...
Processing Record 45 of Set 17 | cowra
Processing Record 46 of Set 17 | bereda
Processing Record 47 of Set 17 | siavonga
Processing Record 48 of Set 17 | srednekolymsk
Processing Record 49 of Set 17 | hambantota
Processing Record 50 of Set 17 | grindavik
Processing Record 1 of Set 18 | ancud
Processing Record 2 of Set 18 | cairns
Processing Record 3 of Set 18 | walvis bay
Processing Record 4 of Set 18 | kedrovyy
Processing Record 5 of Set 18 | alice springs
Processing Record 6 of Set 18 | hami
Processing Record 7 of Set 18 | aripuana
Processing Record 8 of Set 18 | ladysmith
Processing Record 9 of Set 18 | samusu
City not found. Skipping...
Processing Record 10 of Set 18 | mao
Processing Record 11 of Set 18 | baker city
Processing Record 12 of Set 18 | longyearbyen
Processing Record 13 of Set 18 | mount gambier
Processing Record 14 of Set 18 | marfino
Processing Record 15 of Set 18 | del rio
Processing Record 16 of Set 18 | saldanha
Processing Record 17 of Set 18 | dingle
Processing Record 18 of Set 18 | muros
Processing Record 19 of Set 18 | coahuayana
Processing Record 20 of Set 18 | curumani
Processing Record 21 of Set 18 | grand gaube
Processing Record 22 of Set 18 | belyy yar
Processing Record 23 of Set 18 | san andres
Processing Record 24 of Set 18 | inderborskiy
City not found. Skipping...
Processing Record 25 of Set 18 | port hardy
Processing Record 26 of Set 18 | severo-kurilsk
Processing Record 27 of Set 18 | pasni
Processing Record 28 of Set 18 | louisbourg
City not found. Skipping...
Processing Record 29 of Set 18 | husavik
Processing Record 30 of Set 18 | grenfell
Processing Record 31 of Set 18 | te anau
Processing Record 32 of Set 18 | los llanos de aridane
Processing Record 33 of Set 18 | bayji
Processing Record 34 of Set 18 | saint-pierre
Processing Record 35 of Set 18 | halifax
Processing Record 36 of Set 18 | nouadhibou
Processing Record 37 of Set 18 | acapulco
Processing Record 38 of Set 18 | esperance
Processing Record 39 of Set 18 | altay
Processing Record 40 of Set 18 | puerto ayacucho
Processing Record 41 of Set 18 | nizhniy kuranakh
Processing Record 42 of Set 18 | jodhpur
Processing Record 43 of Set 18 | puerto colombia
Processing Record 44 of Set 18 | kachiry
Processing Record 45 of Set 18 | granadilla de abona
Processing Record 46 of Set 18 | ilinskiy
Processing Record 47 of Set 18 | digras
Processing Record 48 of Set 18 | alofi
Processing Record 49 of Set 18 | challans
Processing Record 50 of Set 18 | moose factory
Processing Record 1 of Set 19 | wana
Processing Record 2 of Set 19 | salalah
Processing Record 3 of Set 19 | wegrow
Processing Record 4 of Set 19 | lavrentiya
Processing Record 5 of Set 19 | estreito
Processing Record 6 of Set 19 | lichinga
Processing Record 7 of Set 19 | batemans bay
Processing Record 8 of Set 19 | lazarev
Processing Record 9 of Set 19 | belyy
Processing Record 10 of Set 19 | biak
Processing Record 11 of Set 19 | tabialan
City not found. Skipping...
Processing Record 12 of Set 19 | half moon bay
Processing Record 13 of Set 19 | wahiawa
Processing Record 14 of Set 19 | awbari
Processing Record 15 of Set 19 | springdale
Processing Record 16 of Set 19 | carutapera
Processing Record 17 of Set 19 | phnum penh
City not found. Skipping...
Processing Record 18 of Set 19 | lazaro cardenas
Processing Record 19 of Set 19 | santarem
Processing Record 20 of Set 19 | stromness
Processing Record 21 of Set 19 | majene
Processing Record 22 of Set 19 | satipo
Processing Record 23 of Set 19 | hobyo
Processing Record 24 of Set 19 | peleduy
Processing Record 25 of Set 19 | charleville-mezieres
Processing Record 26 of Set 19 | luebo
Processing Record 27 of Set 19 | kangaatsiaq
Processing Record 28 of Set 19 | fortuna
Processing Record 29 of Set 19 | makokou
Processing Record 30 of Set 19 | badiraguato
Processing Record 31 of Set 19 | galveston
Processing Record 32 of Set 19 | nguiu
City not found. Skipping...
Processing Record 33 of Set 19 | mirnyy
Processing Record 34 of Set 19 | chagda
City not found. Skipping...
Processing Record 35 of Set 19 | arroyo
Processing Record 36 of Set 19 | darhan
Processing Record 37 of Set 19 | illapel
Processing Record 38 of Set 19 | mangile
City not found. Skipping...
Processing Record 39 of Set 19 | tingo maria
Processing Record 40 of Set 19 | goundi
Processing Record 41 of Set 19 | ilulissat
Processing Record 42 of Set 19 | southbridge
Processing Record 43 of Set 19 | sinkat
City not found. Skipping...
Processing Record 44 of Set 19 | salisbury
Processing Record 45 of Set 19 | provideniya
Processing Record 46 of Set 19 | leh
Processing Record 47 of Set 19 | jacqueville
Processing Record 48 of Set 19 | sorong
Processing Record 49 of Set 19 | estelle
Processing Record 50 of Set 19 | ihosy
Processing Record 1 of Set 20 | turukhansk
Processing Record 2 of Set 20 | vila velha
Processing Record 3 of Set 20 | kstovo
Processing Record 4 of Set 20 | ponta do sol
Processing Record 5 of Set 20 | rundu
Processing Record 6 of Set 20 | bulaevo
Processing Record 7 of Set 20 | dawlatabad
Processing Record 8 of Set 20 | shaunavon
Processing Record 9 of Set 20 | yar-sale
Processing Record 10 of Set 20 | kieta
Processing Record 11 of Set 20 | wahran
City not found. Skipping...
Processing Record 12 of Set 20 | brae
Processing Record 13 of Set 20 | neokhoropoulon
City not found. Skipping...
Processing Record 14 of Set 20 | mitsamiouli
Processing Record 15 of Set 20 | warrensburg
Processing Record 16 of Set 20 | mys shmidta
City not found. Skipping...
Processing Record 17 of Set 20 | sorvag
City not found. Skipping...
Processing Record 18 of Set 20 | labuhan
Processing Record 19 of Set 20 | tunceli
Processing Record 20 of Set 20 | khorixas
Processing Record 21 of Set 20 | ocna mures
Processing Record 22 of Set 20 | beringovskiy
Processing Record 23 of Set 20 | saint anthony
Processing Record 24 of Set 20 | richards bay
Processing Record 25 of Set 20 | kamenskoye
City not found. Skipping...
Processing Record 26 of Set 20 | abilene
Processing Record 27 of Set 20 | lagoa
Processing Record 28 of Set 20 | pamanukan
Processing Record 29 of Set 20 | quatre cocos
Processing Record 30 of Set 20 | khasan
Processing Record 31 of Set 20 | aranos
Processing Record 32 of Set 20 | barranca
Processing Record 33 of Set 20 | rio grande
Processing Record 34 of Set 20 | mount pleasant
Processing Record 35 of Set 20 | cabo san lucas
Processing Record 36 of Set 20 | saskylakh
Processing Record 37 of Set 20 | ust-kuyga
Processing Record 38 of Set 20 | kapoeta
Processing Record 39 of Set 20 | nuuk
Processing Record 40 of Set 20 | gorin
Processing Record 41 of Set 20 | liyang
Processing Record 42 of Set 20 | sinjah
City not found. Skipping...
Processing Record 43 of Set 20 | boquira
Processing Record 44 of Set 20 | ucluelet
Processing Record 45 of Set 20 | vanavara
Processing Record 46 of Set 20 | puerto escondido
Processing Record 47 of Set 20 | kazalinsk
City not found. Skipping...
Processing Record 48 of Set 20 | celestun
Processing Record 49 of Set 20 | lasa
Processing Record 50 of Set 20 | tena
Processing Record 1 of Set 21 | praia da vitoria
Processing Record 2 of Set 21 | grand-santi
Processing Record 3 of Set 21 | tarakan
Processing Record 4 of Set 21 | myre
Processing Record 5 of Set 21 | ijaki
City not found. Skipping...
Processing Record 6 of Set 21 | kytlym
City not found. Skipping...
Processing Record 7 of Set 21 | college
Processing Record 8 of Set 21 | rensvik
Processing Record 9 of Set 21 | polunochnoye
Processing Record 10 of Set 21 | kendal
Processing Record 11 of Set 21 | sabha
Processing Record 12 of Set 21 | port macquarie
Processing Record 13 of Set 21 | nizhneyansk
City not found. Skipping...
Processing Record 14 of Set 21 | yilan
Processing Record 15 of Set 21 | batticaloa
Processing Record 16 of Set 21 | maniitsoq
Processing Record 17 of Set 21 | saint-francois
Processing Record 18 of Set 21 | saint-felicien
Processing Record 19 of Set 21 | umkomaas
Processing Record 20 of Set 21 | anderson
Processing Record 21 of Set 21 | okoneshnikovo
Processing Record 22 of Set 21 | aswan
Processing Record 23 of Set 21 | warrington
Processing Record 24 of Set 21 | lexington
Processing Record 25 of Set 21 | sibolga
Processing Record 26 of Set 21 | san juan
Processing Record 27 of Set 21 | sakaiminato
Processing Record 28 of Set 21 | shubarshi
Processing Record 29 of Set 21 | roswell
Processing Record 30 of Set 21 | senanga
Processing Record 31 of Set 21 | kerman
Processing Record 32 of Set 21 | padang
Processing Record 33 of Set 21 | yamethin
Processing Record 34 of Set 21 | necochea
Processing Record 35 of Set 21 | kropotkin
Processing Record 36 of Set 21 | domat
Processing Record 37 of Set 21 | mahesana
Processing Record 38 of Set 21 | carbonia
Processing Record 39 of Set 21 | egvekinot
Processing Record 40 of Set 21 | juba
Processing Record 41 of Set 21 | larsnes
Processing Record 42 of Set 21 | bur gabo
City not found. Skipping...
Processing Record 43 of Set 21 | harnosand
Processing Record 44 of Set 21 | bengkulu
Processing Record 45 of Set 21 | baculin
Processing Record 46 of Set 21 | intipuca
Processing Record 47 of Set 21 | huangyan
Processing Record 48 of Set 21 | muzaffarabad
Processing Record 49 of Set 21 | storm lake
Processing Record 50 of Set 21 | ouadda
Processing Record 1 of Set 22 | trincomalee
Processing Record 2 of Set 22 | hofn
Processing Record 3 of Set 22 | pauini
Processing Record 4 of Set 22 | alyangula
Processing Record 5 of Set 22 | araouane
Processing Record 6 of Set 22 | sitka
Processing Record 7 of Set 22 | tura
Processing Record 8 of Set 22 | peta
Processing Record 9 of Set 22 | wenchi
Processing Record 10 of Set 22 | madimba
Processing Record 11 of Set 22 | lujan
Processing Record 12 of Set 22 | nizwa
Processing Record 13 of Set 22 | henties bay
Processing Record 14 of Set 22 | nioro
Processing Record 15 of Set 22 | jieshi
Processing Record 16 of Set 22 | el alto
Processing Record 17 of Set 22 | pitimbu
Processing Record 18 of Set 22 | tabuk
Processing Record 19 of Set 22 | pokosnoye
Processing Record 20 of Set 22 | novomikhaylovskiy
Processing Record 21 of Set 22 | swan river
Processing Record 22 of Set 22 | weligama
Processing Record 23 of Set 22 | samfya
Processing Record 24 of Set 22 | nanortalik
Processing Record 25 of Set 22 | nelson bay
Processing Record 26 of Set 22 | ous
Processing Record 27 of Set 22 | vao
Processing Record 28 of Set 22 | kailua
Processing Record 29 of Set 22 | ordynskoye
Processing Record 30 of Set 22 | pinehurst
Processing Record 31 of Set 22 | great yarmouth
Processing Record 32 of Set 22 | honiara
Processing Record 33 of Set 22 | lolua
City not found. Skipping...
Processing Record 34 of Set 22 | ossora
Processing Record 35 of Set 22 | christchurch
Processing Record 36 of Set 22 | mandla
Processing Record 37 of Set 22 | mbaiki
Processing Record 38 of Set 22 | cockburn town
Processing Record 39 of Set 22 | lumphat
Processing Record 40 of Set 22 | san cristobal
Processing Record 41 of Set 22 | qinzhou
Processing Record 42 of Set 22 | amuntai
Processing Record 43 of Set 22 | ovsyanka
Processing Record 44 of Set 22 | dunedin
Processing Record 45 of Set 22 | safaga
Processing Record 46 of Set 22 | ostrovnoy
Processing Record 47 of Set 22 | tomohon
Processing Record 48 of Set 22 | portland
Processing Record 49 of Set 22 | a
City not found. Skipping...
Processing Record 50 of Set 22 | chifeng
Processing Record 1 of Set 23 | stephenville
Processing Record 2 of Set 23 | alotau
City not found. Skipping...
Processing Record 3 of Set 23 | malwan
City not found. Skipping...
Processing Record 4 of Set 23 | cidreira
Processing Record 5 of Set 23 | parati
Processing Record 6 of Set 23 | mosquera
Processing Record 7 of Set 23 | karkaralinsk
City not found. Skipping...
Processing Record 8 of Set 23 | ambilobe
Processing Record 9 of Set 23 | mayya
Processing Record 10 of Set 23 | bayevo
Processing Record 11 of Set 23 | yeletskiy
City not found. Skipping...
Processing Record 12 of Set 23 | mangrol
Processing Record 13 of Set 23 | suntar
Processing Record 14 of Set 23 | kenora
Processing Record 15 of Set 23 | naze
Processing Record 16 of Set 23 | sistranda
Processing Record 17 of Set 23 | cayenne
Processing Record 18 of Set 23 | longview
Processing Record 19 of Set 23 | south lake tahoe
Processing Record 20 of Set 23 | salamanca
Processing Record 21 of Set 23 | takoradi
Processing Record 22 of Set 23 | talcahuano
Processing Record 23 of Set 23 | amot
Processing Record 24 of Set 23 | inyonga
Processing Record 25 of Set 23 | giyani
Processing Record 26 of Set 23 | mrirt
City not found. Skipping...
Processing Record 27 of Set 23 | urengoy
Processing Record 28 of Set 23 | russell
Processing Record 29 of Set 23 | sinop
Processing Record 30 of Set 23 | general roca
Processing Record 31 of Set 23 | linxia
Processing Record 32 of Set 23 | opuwo
Processing Record 33 of Set 23 | copiapo
Processing Record 34 of Set 23 | champerico
Processing Record 35 of Set 23 | bardiyah
Processing Record 36 of Set 23 | silchar
Processing Record 37 of Set 23 | neyshabur
Processing Record 38 of Set 23 | geraldton
Processing Record 39 of Set 23 | waddan
Processing Record 40 of Set 23 | hendijan
City not found. Skipping...
Processing Record 41 of Set 23 | grunberg
Processing Record 42 of Set 23 | golden
Processing Record 43 of Set 23 | buchanan
Processing Record 44 of Set 23 | mufulira
Processing Record 45 of Set 23 | san jose
Processing Record 46 of Set 23 | port-gentil
Processing Record 47 of Set 23 | kirakira
Processing Record 48 of Set 23 | okhotsk
Processing Record 49 of Set 23 | akyab
Processing Record 50 of Set 23 | paamiut
Processing Record 1 of Set 24 | cancun
Processing Record 2 of Set 24 | ranong
Processing Record 3 of Set 24 | zhangjiakou
Processing Record 4 of Set 24 | vangaindrano
Processing Record 5 of Set 24 | salvador
Processing Record 6 of Set 24 | domoni
Processing Record 7 of Set 24 | uk
City not found. Skipping...
Processing Record 8 of Set 24 | erenhot
Processing Record 9 of Set 24 | orlik
Processing Record 10 of Set 24 | ituni
City not found. Skipping...
Processing Record 11 of Set 24 | oriximina
Processing Record 12 of Set 24 | bilgram
Processing Record 13 of Set 24 | bonfim
Processing Record 14 of Set 24 | bantou
Processing Record 15 of Set 24 | tezu
Processing Record 16 of Set 24 | agdas
Processing Record 17 of Set 24 | kheri
Processing Record 18 of Set 24 | udachnyy
Processing Record 19 of Set 24 | lahore
Processing Record 20 of Set 24 | brigantine
Processing Record 21 of Set 24 | narsaq
Processing Record 22 of Set 24 | kotido
Processing Record 23 of Set 24 | shimoda
Processing Record 24 of Set 24 | katsuura
Processing Record 25 of Set 24 | smithers
Processing Record 26 of Set 24 | temiscaming
Processing Record 27 of Set 24 | brazzaville
Processing Record 28 of Set 24 | luxor
Processing Record 29 of Set 24 | babanusah
City not found. Skipping...
Processing Record 30 of Set 24 | kutum
Processing Record 31 of Set 24 | mariestad
Processing Record 32 of Set 24 | samarai
Processing Record 33 of Set 24 | vryburg
Processing Record 34 of Set 24 | annur
Processing Record 35 of Set 24 | touros
Processing Record 36 of Set 24 | pinega
Processing Record 37 of Set 24 | filadelfia
Processing Record 38 of Set 24 | pitea
Processing Record 39 of Set 24 | lalibela
Processing Record 40 of Set 24 | juneau
Processing Record 41 of Set 24 | elk river
Processing Record 42 of Set 24 | terney
Processing Record 43 of Set 24 | skalistyy
City not found. Skipping...
Processing Record 44 of Set 24 | manicore
Processing Record 45 of Set 24 | vila franca do campo
Processing Record 46 of Set 24 | astoria
Processing Record 47 of Set 24 | saint-joseph
Processing Record 48 of Set 24 | bilma
Processing Record 49 of Set 24 | komsomolskiy
Processing Record 50 of Set 24 | tual
Processing Record 1 of Set 25 | wenling
Processing Record 2 of Set 25 | kano
Processing Record 3 of Set 25 | lompoc
Processing Record 4 of Set 25 | bambous virieux
Processing Record 5 of Set 25 | raymondville
Processing Record 6 of Set 25 | dogondoutchi
Processing Record 7 of Set 25 | chor
Processing Record 8 of Set 25 | norilsk
Processing Record 9 of Set 25 | marsh harbour
Processing Record 10 of Set 25 | nemuro
Processing Record 11 of Set 25 | liloy
Processing Record 12 of Set 25 | kasongo-lunda
Processing Record 13 of Set 25 | petropavlovsk-kamchatskiy
Processing Record 14 of Set 25 | poum
Processing Record 15 of Set 25 | belmonte
Processing Record 16 of Set 25 | paragominas
Processing Record 17 of Set 25 | tumannyy
City not found. Skipping...
Processing Record 18 of Set 25 | dwarka
Processing Record 19 of Set 25 | tete
Processing Record 20 of Set 25 | saint-augustin
Processing Record 21 of Set 25 | warqla
City not found. Skipping...
Processing Record 22 of Set 25 | atambua
Processing Record 23 of Set 25 | sambava
Processing Record 24 of Set 25 | mogadishu
Processing Record 25 of Set 25 | samagaltay
Processing Record 26 of Set 25 | papetoai
Processing Record 27 of Set 25 | doka
Processing Record 28 of Set 25 | bull savanna
Processing Record 29 of Set 25 | grand baie
Processing Record 30 of Set 25 | ariquemes
Processing Record 31 of Set 25 | huarmey
Processing Record 32 of Set 25 | roald
Processing Record 33 of Set 25 | caiaponia
Processing Record 34 of Set 25 | mitzic
Processing Record 35 of Set 25 | oranzherei
Processing Record 36 of Set 25 | gboko
Processing Record 37 of Set 25 | mujiayingzi
Processing Record 38 of Set 25 | beaverlodge
Processing Record 39 of Set 25 | pitsunda

In [7]:
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

-----------------------------
Data Retrieval Complete
-----------------------------

In [8]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Rain(inches),Snow(inches),Current Description
0,Namatanai,-3.67,152.43,83.61,75,32,9.57,PG,0.59,0,light rain
1,Nome,64.50,-165.41,50.00,81,1,21.92,US,0.00,0,clear sky
2,Willowmore,-33.29,23.49,48.63,47,0,2.37,ZA,0.00,0,clear sky
3,Aljezur,37.32,-8.80,69.01,80,0,7.23,PT,0.00,0,clear sky
4,Rikitea,-23.12,-134.97,66.63,72,100,19.51,PF,0.18,0,light rain
5,Kodinar,20.79,70.70,86.92,70,100,12.66,IN,0.00,0,overcast clouds
6,Jamestown,42.10,-79.24,71.01,94,75,3.36,US,0.00,0,thunderstorm
7,Angoram,-4.06,144.07,85.19,74,27,5.08,PG,0.40,0,light rain
8,Dudinka,69.41,86.18,55.40,66,40,26.84,RU,0.00,0,scattered clouds
9,Lata,40.16,-8.33,64.00,78,0,1.21,PT,0.00,0,clear sky

In [11]:
new_column_order = ["City", "Country", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Current Description", "Rain(inches)", "Snow(inches)"]
city_data_df = city_data_df.reindex(columns = new_column_order)
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain(inches),Snow(inches)
0,Namatanai,PG,-3.67,152.43,83.61,75,32,9.57,light rain,0.59,0
1,Nome,US,64.50,-165.41,50.00,81,1,21.92,clear sky,0.00,0
2,Willowmore,ZA,-33.29,23.49,48.63,47,0,2.37,clear sky,0.00,0
3,Aljezur,PT,37.32,-8.80,69.01,80,0,7.23,clear sky,0.00,0
4,Rikitea,PF,-23.12,-134.97,66.63,72,100,19.51,light rain,0.18,0
5,Kodinar,IN,20.79,70.70,86.92,70,100,12.66,overcast clouds,0.00,0
6,Jamestown,US,42.10,-79.24,71.01,94,75,3.36,thunderstorm,0.00,0
7,Angoram,PG,-4.06,144.07,85.19,74,27,5.08,light rain,0.40,0
8,Dudinka,RU,69.41,86.18,55.40,66,40,26.84,scattered clouds,0.00,0
9,Lata,PT,40.16,-8.33,64.00,78,0,1.21,clear sky,0.00,0

In [10]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_database.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")